{# @var group Villermen\RuneScape\PlayerData\GroupIronmanData #}
{# @var players array<array{name: string, highScore: HighScore}> #}
{# @var skills Villermen\RuneScape\HighScore\SkillInterface[] #}
{# @var highestXps array<int, int> #}
{# @var activities Villermen\RuneScape\HighScore\ActivityInterface[] #}
{# @var highestScores array<int, int> #}
{# @var oldSchool bool #}
{% extends "base.html.twig" %}
{% block body %}
    <div class="horizontal-scroller">
        <table class="center datatable row-select">
            <thead>
                <tr>
                    <th></th>
                    {% for player in players %}
                        <th
                            data-href="{{ path('lookup_player', {
                                game: oldSchool ? 'osrs' : 'rs3',
                                name: player.name,
                            }) }}"
                        >{{ player.name }}</th>
                    {%  endfor %}
                </tr>
            </thead>
            <tbody>
                {% for skill in skills %}
                    <tr>
                        <td>{{ skill.getName() }}</td>
                        {% for player in players %}
                            <td
                                style="color: {{ player.highScore.skill(skill).level|red_to_green(1, 99) }}; {{ player.highScore.skill(skill).xp == highestXps[skill.id] ? 'text-decoration: underline;' : '' }}"
                            >
                                {{ player.highScore.skill(skill).level }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                {% for activity in activities %}
                    <tr style="{{ loop.first ? 'border-top: 1px solid #505050;' : ''}}">
                        <td>{{ activity.getName() }}</td>
                        {% for player in players %}
                            <td
                                style="{{ player.highScore.activity(activity).score == highestScores[activity.id] ? 'text-decoration: underline;' : '' }}"
                            >
                                {{ player.highScore.activity(activity).score }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
