{# @var title string #}
{# @var lookups App\Model\LookupResult[] #}
{# @var skills array<array{skill: Villermen\RuneScape\HighScore\SkillInterface, highestXp: int}> #}
{# @var activities array<array{activity: Villermen\RuneScape\HighScore\ActivityInterface, highestScore: int}> #}
{% extends "base.html.twig" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    {{ include('component/lookup-form.html.twig', {
        oldSchool: lookups|first.oldSchool,
        group: true,
    }) }}
    <h1>{{ title }}</h1>
    <div class="horizontal-scroller">
        <table class="center sortable row-select">
            <thead>
                <tr>
                    <th></th>
                    {% for lookup in lookups %}
                        <th class="no-sort">
                            <a
                                href="{{ path('lookup_player', {
                                    game: lookup.game,
                                    name: lookup.player.name,
                                }) }}"
                            >{{ lookup.player.name }}</a>
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for skill in skills %}
                    {% set highestXp = skill.highestXp %}
                    {% set skill = skill.skill %}
                    <tr>
                        <td>{{ skill.getName() }}</td>
                        {% for lookup in lookups %}
                            {% set tooltip = [
                                lookup.player.name ~ ' - ' ~ skill.getName(),
                                'Level: ' ~ (lookup.highScore.skill(skill).level ?? 0)|number_format,
                                'XP: ' ~ (lookup.highScore.skill(skill).xp ?? 0)|number_format,
                                'Rank: ' ~ (lookup.highScore.skill(skill).rank ?? 0)|number_format,
                            ] %}
                            {% if lookup.trainedToday %}
                                {% set tooltip = tooltip|merge(['Trained today: ' ~ (lookup.trainedToday.xpDifference(skill) ?? 0)|number_format]) %}
                            {% endif %}
                            {% if lookup.trainedYesterday %}
                                {% set tooltip = tooltip|merge(['Trained yesterday: ' ~ (lookup.trainedYesterday.xpDifference(skill) ?? 0)|number_format]) %}
                            {% endif %}
                            {% if lookup.records.get(skill) %}
                                {% set tooltip = tooltip|merge(['Record: ' ~ lookup.records.get(skill).score|number_format]) %}
                            {% endif %}
                            <td
                                title="{{ tooltip|join("\n") }}"
                                style="color: {{ lookup.highScore.skill(skill).level|red_to_green(1, 99) }}; {{ lookup.highScore.skill(skill).xp == highestXp ? 'text-decoration: underline;' : '' }}"
                            >
                                {{ lookup.highScore.skill(skill).level }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                {% for activity in activities %}
                    {% set highestScore = activity.highestScore %}
                    {% set activity = activity.activity %}
                    <tr style="{{ loop.first ? 'border-top: 1px solid #505050;' : ''}}">
                        <td>{{ activity.getName() }}</td>
                        {% for lookup in lookups %}
                            {% set tooltip = [
                                lookup.player.name ~ ' - ' ~ activity.getName(),
                                'Score: ' ~ (lookup.highScore.activity(activity).score ?? 0)|number_format,
                                'Rank: ' ~ (lookup.highScore.activity(activity).rank ?? 0)|number_format,
                            ] %}
                            {% if lookup.trainedToday %}
                                {% set tooltip = tooltip|merge(['Scored today: ' ~ (lookup.trainedToday.scoreDifference(activity) ?? 0)|number_format]) %}
                            {% endif %}
                            {% if lookup.trainedYesterday %}
                                {% set tooltip = tooltip|merge(['Scored yesterday: ' ~ (lookup.trainedYesterday.scoreDifference(activity) ?? 0)|number_format]) %}
                            {% endif %}
                            {% if lookup.records.get(activity) %}
                                {% set tooltip = tooltip|merge(['Record: ' ~ lookup.records.get(activity).score|number_format]) %}
                            {% endif %}
                            <td
                                title="{{ tooltip|join("\n") }}"
                                style="{{ lookup.highScore.activity(activity).score == highestScore ? 'text-decoration: underline;' : '' }}"
                            >
                                {{ lookup.highScore.activity(activity).score }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
