{% extends "base.html.twig" %}

{% block body %}
    {{ include("component/lookup-form.html.twig") }}

    {% if not error %}
        <div class="infobox-container">
            {{ include("component/player-infobox.html.twig", {"player": player, "mode": "lookup", "tracked": tracked}) }}
        </div>

        <div class="horizontal-scroller">
            <table class="center dataTable row-select lookup-table">
                <thead>
                    <tr>
                        <th>Skill</th>
                        <th>Level</th>
                        <th>XP</th>
                        <th>Rank</th>
                        <th>XP to next</th>
                        <th>Progress</th>
                        {% if trainedToday %}
                            <th>Trained today</th>
                        {% endif %}
                        {% if trainedYesterday %}
                            <th>Trained yesterday</th>
                            <th>Ranked yesterday</th>
                        {% endif %}
                        {% if trainedWeek %}
                            <th>Trained last week</th>
                            <th>Ranked last week</th>
                        {% endif %}
                        {# TODO: Custom period? #}
                        {# TODO: Record #}
                        {% if records is not empty %}
                            <th>Record</th>
                            <th>Record date</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for skill in stats.skills %}
                        {% set trainedTodaySkill = trainedToday ? trainedToday.getSkill(skill.skill.id) : false %}
                        {% set trainedYesterdaySkill = trainedYesterday ? trainedYesterday.getSkill(skill.skill.id) : false %}
                        {% set trainedWeekSkill = trainedWeek ? trainedWeek.getSkill(skill.skill.id) : false %}
                        {% set record = records[skill.skill.id] is defined ? records[skill.skill.id] : false %}

                        {% set levelColor = skill.level|red_to_green(0, 69) %}
                        {% set progressColor = skill.progressToNextLevel|red_to_green %}

                        <tr>
                            <td style="color:{{ levelColor }}">
                                {{ skill.name }}
                            </td>
                            <td style="color:{{ levelColor }}">
                                {{ skill.level(true) }}
                            </td>
                            <td style="color:{{ levelColor }}">
                                {{ skill.xp|number_format }}
                            </td>
                            <td style="color:{{ skill.rank|red_to_green(1000000, 1) }}">
                                {{ skill.rank|number_format }}
                            </td>
                            <td style="color:{{ progressColor }}" data-order="{{ skill.xpToNextLevel ?: 100000000 }}">
                                {% if skill.xpToNextLevel %}
                                    {{ skill.xpToNextLevel|number_format }}
                                {% endif %}
                            </td>
                            <td style="color:{{ progressColor }}">
                                {% if skill.xpToNextLevel %}
                                    {{ (skill.progressToNextLevel * 100)|number_format(2) }}%
                                {% endif %}
                            </td>
                            {% if trainedToday %}
                                <td>
                                    {{ trainedTodaySkill.xpDifference }}
                                </td>
                            {% endif %}
                            {% if trainedYesterday %}
                                <td>
                                    {{ trainedYesterdaySkill.xpDifference }}
                                </td>
                                <td style="color:{{ trainedYesterdaySkill.rankDifference|red_to_green(-1, 1) }}">
                                    {{ trainedYesterdaySkill.rankDifference|number_format }}
                                </td>
                            {% endif %}
                            {% if trainedWeek %}
                                <td>
                                    {{ trainedWeekSkill.xpDifference|number_format }}
                                </td>
                                <td style="color:{{ trainedWeekSkill.rankDifference|red_to_green(-1, 1) }}">
                                    {{ trainedWeekSkill.xpDifference|number_format }}
                                </td>
                            {% endif %}
                            {% if record %}
                                <td>
                                    {{ record.xpGain|number_format }}
                                </td>
                                <td data-order="{{ record.date.timestamp }}">
                                    {{ record.date|date }}
                                </td>
                            {% elseif records is not empty %}
                                <td></td>
                                <td></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <h2>Activity feed</h2>
        {% if activityFeed %}
            {% for activityFeedItem in activityFeed.items %}
                <div class="activity">
                    <div class="activity-title">{{ activityFeedItem.title }}</div>
                    <div class="activity-time">{{ activityFeedItem.time|date }}</div>
                    <div class="activity-description">{{ activityFeedItem.description }}</div>
                </div>
            {% endfor %}
        {% else %}
            <p>
                Player's adventurer's log is private, or the request to it timed out.
            </p>
        {% endif %}
    {% endif %}
{% endblock %}
