{# @var oldSchool|null bool #}
{# @var name1 string|null #}
{# @var name2 string|null #}
{# @var group string|null #}
{% set oldSchool = oldSchool|default(false) %}
{% set name1 = name1|default('') %}
{% set name2 = name2|default('') %}
{% set group = group|default('') %}
{% if not group %}
    <form method="get" class="lookup-form" action="{{ path('lookup') }}">
        <input type="text" name="player1" maxlength="12" placeholder="Player" value="{{ name1 }}" style="width: 12em;" />
        {% if name1 %}
            <input type="text" name="player2" maxlength="12" placeholder="Compare with" value="{{ name2 }}" style="width: 12em;" />
            <input type="hidden" name="oldschool" value="{{ oldSchool }}" />
            <button type="submit">Submit</button>
        {% else %}
            <button type="submit">RS3</button>
            <button type="submit" name="oldschool" value="1">OSRS</button>
        {% endif %}
    </form>
{% endif %}
{% if not name1 %}
    <form method="get" class="lookup-form" action="{{ path('lookup') }}">
        <input type="text" name="group" maxlength="12" placeholder="Ironman group" value="" style="width: 12em;" />
        {% if group %}
            <button type="submit" name="oldschool" value="1">Submit</button>
        {% else %}
            <button type="button" disabled>RS3</button>
            <button type="submit" name="oldschool" value="1">OSRS</button>
        {% endif %}
    </form>
{% endif %}
{% if app.current_route != 'lookup' %}
    <p class="back">
        <a href="{{ path('lookup') }}">Main page</a>
    </p>
{% endif %}
