{# Arguments: Player player, bool tracked, bool oldSchool #}

<div class="infobox">
    {% if not oldSchool %}
        <div class="infobox-avatar avatar-chat" style="background-image: url('{{ player.chatHeadUrl }}')"></div>
    {% endif %}

    <div class="infobox-text">
        <h1>{{ player.name }}</h1>

        <p>
            {% if not oldSchool %}
                <a href="{{ player.runeMetricsUrl }}">RuneMetrics</a>
            {% endif %}

            {% if mode == "compare" %}
                | <a href="{{ path("lookup_index", {"player1": player.name}) }}">Look up</a>
            {% endif %}

            {% if not tracked or not player.active %}
                | <a href="{{ path("lookup_index", {"player1": player.name, "track": true}) }}">Track</a>
            {% endif %}
        </p>

        <p>
            Combat level
            {% if oldSchool %}
                {{ player.oldSchoolSkillHighScore.getCombatLevel(true) }}
            {% else %}
                {{ player.skillHighScore.getCombatLevel(true) }} ({{ player.skillHighScore.getCombatLevel(false) }}+{{ player.skillHighScore.getCombatLevel(true) - player.skillHighScore.getCombatLevel(false) }})
            {% endif %}
        </p>
    </div>

    {% if not oldSchool %}
        <div class="infobox-avatar avatar-body" style="background-image: url('{{ player.fullBodyUrl }}')"></div>
    {% endif %}
</div>
