{# @var compare bool|null #}
{# @var lookup App\Model\LookupResult #}
{% set compare = compare ?? false %}
{% set runeScore = lookup.oldSchool ? null : lookup.highScore.activity(enum('Villermen\\RuneScape\\HighScore\\Rs3Activity').RUNESCORE) %}
<div class="infobox {{ compare ? 'infobox--compare' : '' }}">
    {% if not lookup.oldSchool %}
        <img class="infobox-avatar infobox-avatar--head" src="{{ lookup.player.chatHeadUrl }}" alt="Forum chat head" />
    {% endif %}
    <div class="infobox-text">
        <h1 class="infobox-title">{{ lookup.player.name }}</h1>
        <div class="infobox-line">
            {% if compare %}
                <a href="{{ path('lookup_player', { game: lookup.game, name: lookup.player.name }) }}">
                    Details
                </a>
            {% else %}
                <a href="{{ path('lookup_player', { game: lookup.oldSchool ? 'rs3' : 'osrs', name: lookup.player.name }) }}">
                    {{ lookup.oldSchool ? 'RS3' : 'OSRS' }}
                </a>
            {% endif %}
            {% if not lookup.oldSchool %}
                |
                <a href="{{ lookup.player.runeMetricsUrl }}">
                    RuneMetrics
                </a>
            {% endif %}
            {% if not lookup.tracked %}
                |
                <a href="{{ path('lookup_player', { game: lookup.game, name: lookup.player.name, track: true }) }}">
                    Track
                </a>
            {% endif %}
        </div>
        <div class="infobox-line">
            Combat level
            {% if lookup.oldSchool %}
                {{ lookup.highScore.combatLevel // 1 }}
            {% else %}
                {{ lookup.highScore.combatLevel // 1 }} ({{ lookup.highScore.combatLevel(false) // 1 }}+{{ lookup.highScore.combatLevel // 1 - lookup.highScore.combatLevel(false) // 1 }})
            {% endif %}
        </div>
        {% if runeScore and runeScore.score > 0 %}
            <div class="infobox-line" title="Rank {{ runeScore.rank|number_format }}">
                {{ runeScore.score|number_format }} RuneScore
            </div>
        {% endif %}
    </div>
    {% if not lookup.oldSchool %}
        <img class="infobox-avatar infobox-avatar--body" src="{{ lookup.player.fullBodyUrl }}" alt="Forum full body" />
    {% endif %}
</div>
