{# Arguments: Player player, bool tracked, bool oldSchool #}

<div class="infobox infobox--{{ mode }}">
    {% if not oldSchool %}
        <img class="infobox-avatar infobox-avatar--head" src="{{ player.chatHeadUrl }}" />
    {% endif %}

    <div class="infobox-text">
        <h1>{{ player.name }}</h1>

        <p>
            {% if mode == "lookup" %}
                <a href="{{ path("lookup_index", {"player1": player.name, "oldschool": not oldSchool}) }}">{{ oldSchool ? "RS3" : "OSRS" }}</a>
            {% else %}
                <a href="{{ path("lookup_index", {"player1": player.name, "oldschool": oldSchool}) }}">Details</a>
            {% endif %}

            {% if not oldSchool %}
                | <a href="{{ player.runeMetricsUrl }}">RuneMetrics</a>
            {% endif %}

            {% if not tracked or not player.active %}
                | <a href="{{ path("lookup_index", {"player1": player.name, "track": true, "oldschool": oldSchool}) }}">Track</a>
            {% endif %}
        </p>

        <p>
            Combat level
            {% if oldSchool %}
                {{ player.oldSchoolSkillHighScore.getCombatLevel(true) }}
            {% else %}
                {{ player.skillHighScore.getCombatLevel(true) }} ({{ player.skillHighScore.getCombatLevel(false) }}+{{ player.skillHighScore.getCombatLevel(true) - player.skillHighScore.getCombatLevel(false) }})
            {% endif %}
        </p>
    </div>

    {% if not oldSchool %}
        <img class="infobox-avatar infobox-avatar--body" src="{{ player.fullBodyUrl }}" />
    {% endif %}
</div>
